<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Veterinaria Des Petites.</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!--Angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <section class="page-section" id="contact">
                        <div class="container px-4 px-lg-5">
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                                <div class="col-lg-8 col-xl-6 text-center" style="color: rgba(255, 255, 255, 0.7);">
                                    <h2 class="mt-0" style="margin-top: -75px">Veterinaria Des Petites.</h2>
                                    <h2 class="mt-0">¿Estamos listos para el día de hoy?</h2>
                                    <hr class="divider" />
                                    <p class="mb-5">“Trabaja duro en silencio y tu éxito hará todo el ruido”</p>
                                </div>
                            </div>
                            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                                <div class="col-lg-6">
                                    <form id="contactForm" lass="form-signin" ng-app="myApp" ng-controller="validateCtrl"
                                    name="myForm" novalidate>
                                        <!-- User input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="user" name="user" type="text" ng-model="user" required/>
                                            <label for="user">Nombre de Usuario</label>
                                            <span style="color: red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                                                <p ng-show="myForm.user.$error.required">El usuario es requerido.</p>
                                            </span>
                                        </div>
                                        <!-- Password input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="password" name="password" type="password" ng-model="password" required/>
                                            <label for="password">Contraseña</label>
                                            <span style="color: red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                                <p ng-show="myForm.password.$error.required">La contraseña es requerida.</p>
                                            </span>
                                        </div>      
                                        <p class="text-center" id="Error" style="color: red;"></p>                                         
                                        <!-- Submit Button-->
                                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submit" type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
                                        myForm.password.$dirty && myForm.password.$invalid" onclick="return dash();">Ingresar</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </header>             
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Veterinaria Des Petites</div></div>
        </footer>
       
        <script src="js/login.js"></script>
        <!-- Bootstrap core JS-->
        <scripscrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"/>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"/>
    </body>
</html>
