<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Veterinaria Des Petites.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles.css">
    <link href='css/rotating-card.css' rel='stylesheet' />
    <style>
        #sidebar 
        {
            width: 20%;
            height: 100vh;
            background: #343a40;
        }
    </style>
</head>

<body>
    <!-- Navbar Vertical Principal -->
    <div class="d-flex">
        <div id="sidebar">
            <div class="p-2">
                <a href="#" class="navbar-brand text-center text-light w-100 p-4 border-bottom">
                    <i class="fas fa-dog mr-3" aria-hidden="true"></i>Les Petites.
                </a>
            </div>
            <div id="sidebar-accordion">
                <div class="list-group">
                    <a href="#dashboard-items" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fas fa-paw mr-3" aria-hidden="true"></i>Adopciones
                    </a>
                    <div id="dashboard-items">
                        <a href="Disponibles.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <i class="far fa-clipboard mr-3" aria-hidden="true"></i>Disponibles
                        </a>
                        <a href="Solicitudes.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <li class="nav-item active">
                                <i class="fas fa-clipboard mr-3" aria-hidden="true"></i>Solicitudes
                            </li>                            
                        </a>
                        <a href="Seguimientos.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <i class="fas fa-tasks mr-3" aria-hidden="true"></i>Seguimientos
                        </a>
                    </div>
                    <a href="#profile-items" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-user mr-3" aria-hidden="true"></i>Inventario
                    </a>
                    <div id="profile-items" class="collapse">
                        <a href="Perros.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <i class="fas fa-dog mr-3" aria-hidden="true"></i>Perros
                        </a>
                        <a href="Gatos.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <i class="fas fa-cat mr-3" aria-hidden="true"></i>Gatos
                        </a>
                        <a href="Otros.html" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                            <i class="fas fa-dove mr-3" aria-hidden="true"></i>Otros                            
                        </a>
                    </div>
                    <a href="Carrito.html" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-shopping-cart mr-3" aria-hidden="true"></i>Carrito de Compras
                    </a>
                    <a href="#setting-items" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-cog mr-3" aria-hidden="true"></i>Configuración
                    </a>
                    <div id="setting-items" class="collapse">
                        <div class="d-flex flex-row text-center">
                            <a href="AgregarCli.html" class="list-group-item list-group-item-action bg-dark text-light">
                                Agregar
                            </a>
                            <a href="index.html" class="list-group-item list-group-item-action bg-dark text-light">
                                Salir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Horizontal Principal -->
        <div class="content w-100">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-xl">
                    <div class="collapse navbar-collapse" id="navbarsExample07XL">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="Disponibles.html">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Clientes.html">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Proveedor.html">Proveedores</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                                    aria-expanded="false">Pedidos</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                                    <a class="dropdown-item" href="Entregados.html">Entregados</a>
                                    <a class="dropdown-item" href="Espera.html">En espera</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-md-0">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                </div>
            </nav>

            <!-- Formulario de Solicitud de Adopción-->
            <section class="p-3">
                <div class="container">
                    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                        <div class="col-lg-6">
                            <h2 class="text-center" style="margin-bottom: 50px;">Solicitudes de Adopciones</h2>
                            <form id="contactForm" lass="form-signin" ng-app="myApp" ng-controller="validateCtrl"
                            name="myForm" novalidate>
                                <!-- Nombre input-->
                                <div class="form-floating mb-3">
                                    <label for="name">Nombre Completo</label>
                                    <input class="form-control" id="name" name="name" type="text" ng-model="name" required placeholder="Ejem... Fernando Torres"/>
                                    <span style="color: red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                        <span ng-show="myForm.name.$error.required">El nombre es requerido.</span>
                                    </span>
                                </div>
                                <!-- Cédula input-->
                                <div class="form-floating mb-3">
                                    <label for="cedula">Cédula</label>
                                    <input class="form-control" id="cedula" name="cedula" type="text" ng-model="cedula" required placeholder="0-0000-0000"/>
                                    <span style="color: red" ng-show="myForm.cedula.$dirty && myForm.cedula.$invalid">
                                        <span ng-show="myForm.cedula.$error.required">La cédula es requerida.</span>
                                    </span>
                                </div>
                                <!-- Fecha de nacimiento input-->
                                <div class="form-floating mb-3">
                                    <label for="nacimiento">Fecha de Nacimiento</label>
                                    <input class="form-control" id="nacimiento" name="nacimiento" type="date" ng-model="nacimiento" required/>
                                    <span style="color: red" ng-show="myForm.nacimiento.$dirty && myForm.nacimiento.$invalid">
                                        <span ng-show="myForm.nacimiento.$error.required">La fecha de nacimiento es requerida.</span>
                                    </span>
                                </div>
                                <!-- Dirección input-->
                                <div class="form-floating mb-3">
                                    <label for="direccion">Dirección</label>
                                    <input class="form-control" id="direccion" name="direccion" type="text" ng-model="direccion" required placeholder="Cartago, Costa Rica, Quircot"/>
                                    <span style="color: red" ng-show="myForm.direccion.$dirty && myForm.direccion.$invalid">
                                        <span ng-show="myForm.direccion.$error.required">La dirección es requerida.</span>
                                    </span>
                                </div>
                                <!-- Teléfono input-->
                                <div class="form-floating mb-3">
                                    <label for="tel">Número de Teléfono</label>
                                    <input class="form-control" id="tel" name="tel" type="text" ng-model="tel" required placeholder="+(506) 8962 7219"/>
                                    <span style="color: red" ng-show="myForm.tel.$dirty && myForm.tel.$invalid">
                                        <span ng-show="myForm.tel.$error.required">El número de teléfono es requerido.</span>
                                    </span>
                                </div>
                                <!-- Ocupación input-->
                                <div class="form-floating mb-3">
                                    <label for="ocupacion">Ocupación</label>
                                    <input class="form-control" id="ocupacion" name="ocupacion" type="text" ng-model="ocupacion" required placeholder="Estudiante"/> 
                                    <span style="color: red" ng-show="myForm.ocupacion.$dirty && myForm.ocupacion.$invalid">
                                        <span ng-show="myForm.ocupacion.$error.required">La ocupación es requerida.</span>
                                    </span>
                                </div>
                                        
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submit" type="submit" onclick="return addSoli();"
                                ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.cedula.$dirty && myForm.cedula.$invalid || 
                                             myForm.nacimiento.$dirty && myForm.nacimiento.$invalid || myForm.direccion.$dirty && myForm.direccion.$invalid ||
                                             myForm.tel.$dirty && myForm.tel.$invalid || myForm.ocupacion.$dirty && myForm.ocupacion.$invalid" >
                                Enviar</button></div>
                            </form>

                            <script>
                                var app = angular.module('myApp', []);

                                    app.controller('validateCtrl', function () {
                                            
                                    });
                                    function addSoli()
                                    {
                                        var name = document.getElementById("name").value;
                                        var cedula = document.getElementById("cedula").value;
                                        var nacimiento = document.getElementById("nacimiento").value;
                                        var direccion = document.getElementById("direccion").value;
                                        var tel = document.getElementById("tel").value;
                                        var ocupacion = document.getElementById("ocupacion").value;

                                        alert('Solicitud de: '+name +' Agregada');
                                    }
                            </script>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>

    <!-- Bootstrap core JS-->
    <scripscrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"> </script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>